@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: black;
}
::selection{
  color: #fff;
  background: #1cc7d0;
}
.wrapper{
  height: 500px;
  width: 420px;
  position: relative;
  transform-style: preserve-3d;
	perspective: 10000px;
}


.wrapper .card{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  transform: translateY(0deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 15px rgba(255, 137, 137, 0.1);
  transition: transform 0.9s cubic-bezier(0.4,0.2,0.2,1);
}
.wrapper:hover > .front-face{
  transform: rotateY(-180deg);
}
.wrapper .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.wrapper .back-face{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapper:hover > .back-face{
  transform: rotateY(0deg);
}
.wrapper .back-face img{
  height: 300px;
  width: 300px;
  padding: 4px;
  border-radius: 70%;
  background: linear-gradient(375deg, #1cc7d0, #2ede98);
}
.wrapper .back-face .info{
  text-align: left;
  display: none;
}
.back-face .name{
   background-color: black;
  color: rgb(38, 231, 238);
  font-family: "Lucida Console", "Courier New", monospace;

}


